__pycache__/
.ipynb_checkpoints/
*.pyc
*.pkl
*.csv
*.hdf5
*.zip
.env
.DS_Store
.vscode/
temp_plots/
results/figures/
.venv/
notebooks/00_archive/
/data/01_raw/*
!/data/01_raw/.gitkeep
/data/02_processed/*
!/data/02_processed/.gitkeep
/data/03_external/*
!/data/03_external/.gitkeep